@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="" >
        <input type="hidden" name="potato" value="a" />
        <input type="submit" value="Comprobar" />
        <p>Conexión: @Model</p>
    </form>
</div>
